.cache/
.external/
.plugins/
.unplugged/
.zcompcache/
.zcompdump*
.zdirs
.zhistory
.zplugins/
.zplugins/
.zsh_history
.zsh_plugins.zsh
.zsh_sessions/
*.cache
*.bak
*.local
*.local.zsh
*.zwc
.zplugins.zsh
~*
.zephyr/
.zlocal
private*
.theme_cache
.keychain_env_cache
.vivid_*_cache
